/* .applayout{
    background-color: antiquewhite;
    color:red;
    font-size: 12px;
} */
/* .Propstate {
    background-color: aquamarine;
    font-size: 20px;
} */

.applayout{
    background-color: beige;
}